<!doctype html>

<html>

	<head>
		<title><%= @title ? @title+TITLE_APPENDAGE : DEFAULT_TITLE %></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<style>
		a {
			cursor: pointer;
		}
		#doc {
			width: 600px;
			height: 300px;
			font-family: monospace;
			white-space: pre;
		}
		</style>
		<script>
		if (typeof docdock === "undefined" || docdock === null) {
			window.docdock = {
				xhr: {},
				init: function() {
					$("#saveDoc").click(function() {
						docdock.xhr = $.post(
							"/",
							{
								doc: $("#doc").val()
							},
							function(data) {
								if (data.status == "doc empty")
									alert("The doc is empty!");
								else
									location.assign("/"+data.status);
							},
							"json"
						);
					});
				},
				abortXhr: function() {
					if (docdock.xhr.abort != null)
						docdock.xhr.abort();
				}
			}
			$(docdock.init);
		}
		</script>
	</head>
	
	<body>
		<h1>docdock</h1>
		<% if @id %>
		id = <%= @id %><br>
		<div id="doc"><%= Rack::Utils.escape_html @doc %></div>
		<% else %>
		<textarea id="doc"></textarea><br>
		<a id="saveDoc">Save doc</a><br><br>
		<% end %>
		<strong>Recent docs:</strong><br>
		<% @recentDocs.each do |i| %>
		<a href="/<%= i[:id]%>"><%= Rack::Utils.escape_html i[:doc] %></a><br>
		<% end %>
	</body>
	
</html>