<%
title = @title ? @title+TITLE_APPENDAGE : DEFAULT_TITLE
if not params.has_key? "pushState"
%><!doctype html>

<html>

	<head>
		<meta name="viewport" content="width=800, user-scalable=0">
		<title><%= Rack::Utils.escape_html title %></title>
		<link href="/css/main.css" type="text/css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://raw.github.com/caseyWebDev/caseyWebDev/master/js/caseyWebDev.js"></script>
		<script src="/js/main.js"></script>
	</head>
	
	<body>
		<div id="header">
			<a href="/" id="logo"></a>
		</div>
		<div id="wrap">
			<div id="main">
<% else %><%= "<!--pushState-->\n#{title}\n" %><% end %>
				<textarea id="doc" data-placeholder="Paste or type your doc here and hit save doc.">
<%= @doc ? Rack::Utils.escape_html(@doc) : "" %></textarea>
				<a id="saveDoc">Save doc</a>
				<strong>Recent docs</strong>
				<div id="recentDocs">
					<% @recentDocs.each do |i| %>
					<a href="/<%= i[:id]%>" data-push-state><%= Rack::Utils.escape_html i[:doc] %></a>
					<% end %>
				</div>
<% if not params.has_key? "pushState" %>
			</div>
			<div id="footer">Copyright &copy; docdock <%= Time.new.year %>. All rights reserved.</div>
		</div>
	</body>
	
</html>
<% end %>